:root {
	--standard-font: "Rubik", sans-serif;
	--heading-font: "STIX Two Text", serif;
	--footer-font: "PT Mono", monospace;
	--image-border: 4px solid #496366;
	--background-color: #f7f7e8;
	--hero-background: #c7cfb7;
	--primary-color: #496366;
	--secondary-color: #9dad7f;
}

body {
	font-family: var(--standard-font);
	background: white;
}

h1 {
	font-size: 84px;
	font-family: var(--heading-font);
	font-weight: bold;
}

h2 {
	font-size: 36px;
	color: var(--primary-color);
}

footer {
	background: var(--hero-background);
	font-family: var(--footer-font);
	padding: 20px;
}

li {
	margin-bottom: 10px;
}

.hero {
	text-align: center;
	background: black;
	padding: 100px 20px 40px 40px;
	color: var(--secondary-color);
}

.hero img {
	max-width: 200px;
	border-radius: 100%;
	border: var(--image-border);
}

.content {
	padding: 20px;
	border: 1px solid var(--primary-color);
	margin: 0 auto;
	font-size: 22px;
}

.index-image {
	border: var(--image-border);
	padding: 10px;
	background: var(--background-color);
	border-radius: 8px;
}

.content span {
	font-family: var(--heading-font);
	font-weight: bold;
	font-size: 28px;
}

.btn-customized {
	border: var(--image-border);
	border-radius: 8px;
	background: var(--background-color);
	padding: 10px 30px;
}

.btn-customized:hover {
	background: var(--secondary-color);
}

.content-button {
	text-align: right;
	margin-right: 30px;
}

.content-button a {
	font-size: 22px;
}

.p-padding {
	padding-left: 50px;
}

.about-section {
	max-width: 1400px;
	margin: 0 auto;
	font-size: 24px;
}

.about-section h2 {
	text-align: center;
	margin: 20px;
}

.about-section img {
	border: var(--image-border);
	padding: 10px;
	background: white;
	border-radius: 8px;
	display: block;
	margin: 0 auto;
}

.about-section span {
	font-family: var(--heading-font);
	font-weight: bold;
	font-size: 28px;
}

.about-section .col-md-4 {
	font-family: var(--heading-font);
	font-weight: 500;
}

.about-section ul {
	padding-left: 100px;
	margin-top: 20px;
}

@media (max-width: 993px) {
	ul {
		padding: 0;
	}
	li {
		list-style: inside;
	}
	.content {
		text-align: center;
		padding: 5px;
	}
	.index-image {
		max-width: 150px;
		margin-bottom: 20px;
	}
	.content-button {
		text-align: center;
		margin: 20px 0 20px 0;
	}
	.p-padding {
		padding-left: 12px;
	}

	.about-section {
		text-align: center;
	}

	.about-section ul {
		padding-left: 0;
	}
}

@media (max-width: 769px) {
	ul {
		padding: 0;
	}
	li {
		list-style: inside;
	}
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 28px;
		margin-top: 20px;
	}

	.hero {
		padding: 60px 10px 40px 10px;
	}
	.content {
		text-align: center;
		padding: 5px;
		font-size: 18px;
	}

	.content-button {
		text-align: center;
		margin: 20px 0 20px 0;
	}

	.about-section {
		text-align: center;
		padding: 5px;
		font-size: 18px;
	}

	.about-section ul {
		padding-left: 0;
	}
}
